@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kdam+Thmor+Pro&family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kdam+Thmor+Pro&family=Roboto:wght@100;300;400;500&display=swap');

.cartViewContainer{
    background-image: url(/public/assets/img/fondo.jpg); background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tituloCartView{
    font-size: 30px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.titulosTabla{
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-around;
}

.titulosTabla h3{
    font-size: 16px;
    text-align: center;
    width: 10%;
    text-align: center;
}

.cartWrapper{
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-items: center;
    gap: 10px;
}

.cartItemContainer{
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    border: solid 1px black;
    border-radius: 10px;
}

.cartItemContainer h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin: 0%;
    width: 15%;
}

.cartItemContainer img{
    height: 50px;
    width: 50px;
}

.cartItemContainer p{
    margin: 0%;
    width: 15%;
    text-align: center;
}

.cartButtonsContainer{
    display: flex;
    gap: 15px;
}

.checkoutButton{
    font-size: 16px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
}

.clearCartButton{
    font-size: 16px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
}

.removeItem{
    margin: 0%;
    display: flex;
    vertical-align: middle;

}

.removeItem img{
    height: 30px;
    width: auto;
    padding: 0%;
    margin: 0%;
}

.inputCount{
    width: 50px;
}