.ItemListContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./fondo.jpg); background-size: cover;
}

.tituloItemListContainer{
    font-size: 60px;
    color: white;
}

.flexWrapperContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

