@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kdam+Thmor+Pro&family=Roboto:wght@100;300;400;500&display=swap');


.ItemListContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./fondo.jpg); background-size: cover;
}

.tituloItemListContainer{
    font-size: 40px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}


